@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes slide-down {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 100%;
  }
}

.animate-weather-rain {
  animation: slide-down 0.5s linear infinite;
}

.animate-weather-storm {
  animation: slide-down 0.2s linear infinite;
}

.animate-weather-snow {
  animation: slide-down 5s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.15s ease-out;
}

.animate-slide-up-fade-in {
  animation: slideUpFadeIn 0.15s ease-out;
}
